@model MVC_FirstProject1.Models.Employee
@{
    ViewBag.Title = "EmployeeInfo";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<style>
    table
    {
        font-family:Arial,sans-serif;
        border-collapse:collapse;
        width:100%
    }
    td, th
    {
        border: 1px solid #dddddd;
        text-align: left;
        padding:8px;
    }

</style>
<h3> Employee Information</h3>

<table>
    <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <td>EmployeeLocation</td>
    </tr>
    <tr>
        <th>@Model.EmployeeId</th>
        <th>@Model.EmployeeName</th>
        <th>@Model.EmployeeLocation</th>
    </tr>
</table>